<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2 align="center">Create message</h2>
    <form  method="post">
      {% csrf_token %}
      <table border="1" align="center">
        <tr>
          <td>Enter name:</td>
          <td><input type="text" name="uname" placeholder="sender name"></td>
        </tr>
        <tr>
          <td>Email Id:</td>
          <td><input type="email" name="uemail" placeholder="sender mail"></td>
        </tr>
        <tr>
          <td>Mobile number:</td>
          <td><input type="number" name="mobile" placeholder="sender mobile"></td>
        </tr>
        <tr>
          <td>Message:</td>
          <td><textarea name="msg" rows="8" cols="30"></textarea></td>
        </tr>
        <tr>
          <td><input type="submit" name="" value="send"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
